In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame({'Fare':[7.2500, 71.2833, 7.9250, 53.100,8.0500,8.4583],
                  'Embarked':["S", "C", "S","S","S","Q"],
                  'Sex':['male','female','female','female','male','male'],
                  'Age':[22.0,38.0,26.0,35.0,35.0, None]})

In [5]:
df

      Fare Embarked     Sex   Age
0   7.2500        S    male  22.0
1  71.2833        C  female  38.0
2   7.9250        S  female  26.0
3  53.1000        S  female  35.0
4   8.0500        S    male  35.0
5   8.4583        Q    male   NaN

In [6]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer

In [7]:
ohe = OneHotEncoder()
imp = SimpleImputer()

In [9]:
ct = make_column_transformer(
                            (ohe,['Embarked', 'Sex']),
                            (imp,['Age']),
                            remainder='passthrough')

In [10]:
ct.fit_transform(df)

array([[ 0.    ,  0.    ,  1.    ,  0.    ,  1.    , 22.    ,  7.25  ],
       [ 1.    ,  0.    ,  0.    ,  1.    ,  0.    , 38.    , 71.2833],
       [ 0.    ,  0.    ,  1.    ,  1.    ,  0.    , 26.    ,  7.925 ],
       [ 0.    ,  0.    ,  1.    ,  1.    ,  0.    , 35.    , 53.1   ],
       [ 0.    ,  0.    ,  1.    ,  0.    ,  1.    , 35.    ,  8.05  ],
       [ 0.    ,  1.    ,  0.    ,  0.    ,  1.    , 31.2   ,  8.4583]])

# Summary

In [13]:
# Summary of COMPOSITE ENCODING
# Import libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer

# Create DataFrame
df = pd.DataFrame({'Fare':[7.2500, 71.2833, 7.9250, 53.100,8.0500,8.4583],
                  'Embarked':["S", "C", "S","S","S","Q"],
                  'Sex':['male','female','female','female','male','male'],
                  'Age':[22.0,38.0,26.0,35.0,35.0, None]})

# Read the DataFrame
print(df.head())

# Create objective function
ohe = OneHotEncoder()
imp = SimpleImputer()

ct = make_column_transformer(
                            (ohe,['Embarked', 'Sex']),
                            (imp,['Age']),
                            remainder='passthrough')

#Composite Encoding
ct.fit_transform(df)

      Fare Embarked     Sex   Age
0   7.2500        S    male  22.0
1  71.2833        C  female  38.0
2   7.9250        S  female  26.0
3  53.1000        S  female  35.0
4   8.0500        S    male  35.0

array([[ 0.    ,  0.    ,  1.    ,  0.    ,  1.    , 22.    ,  7.25  ],
       [ 1.    ,  0.    ,  0.    ,  1.    ,  0.    , 38.    , 71.2833],
       [ 0.    ,  0.    ,  1.    ,  1.    ,  0.    , 26.    ,  7.925 ],
       [ 0.    ,  0.    ,  1.    ,  1.    ,  0.    , 35.    , 53.1   ],
       [ 0.    ,  0.    ,  1.    ,  0.    ,  1.    , 35.    ,  8.05  ],
       [ 0.    ,  1.    ,  0.    ,  0.    ,  1.    , 31.2   ,  8.4583]])